<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Video Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>🎬 Telugu Video Generator</h1>

    <form id="videoForm" class="card" enctype="multipart/form-data">
        
        <div class="form-group full">
            <label>Enter Text</label>
            <textarea name="text" rows="15" required></textarea>
        </div>

        <div class="grid-2">
            <div class="form-group">
                <label>Scroll Speed</label>
                <input type="number" name="scroll_speed" value="50">
            </div>

            <div class="form-group">
                <label>Font Size</label>
                <input type="number" name="font_size" value="40" min="20" max="120">
            </div>
        </div>

        <div class="grid-2">
            <div class="form-group">
                <label>Main Text Color</label>
                <input type="color" name="main_color" value="#000000">
            </div>
        </div>

        <!-- UPDATED SECTION -->
        <div class="form-group full">
                <label>Background Image</label>
                <input type="file" name="background" required>
        </div>

        <button type="submit" class="btn-primary">
            Generate Video
        </button>
    </form>

    <div id="loader" class="loader" style="display:none;"></div>

    <div id="progress-container">
        <div id="progress-bar">
            <div id="progress-fill">
                <span id="progress-text">0%</span>
            </div>
        </div>
    </div>

    <div id="download" class="download-box"></div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
